.jokes-layout {
  display: flex;
  flex-direction: column;
  min-height: inherit;
  background-color: var(--color-background);
  font-family: 'Helvetica', sans-serif;
}

.jokes-header {
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--color-border);
  background-color: var(--color-primary);
  color: var(--color-foreground);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.jokes-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.jokes-header .home-link {
  font-family: 'Georgia', serif;
  font-size: 2.5rem;
}

.jokes-header .home-link a {
  color: var(--color-highlight);
  transition: color 0.3s ease-in-out;
}

.jokes-header .home-link a:hover {
  color: var(--color-accent);
  text-decoration: none;
}

.jokes-header .logo-medium {
  display: none;
}

.jokes-header a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.jokes-header .user-info {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.jokes-main {
  padding: 2.5rem 2rem;
  flex-grow: 1;
  background-color: var(--color-light-background);
}

.jokes-main .container {
  display: flex;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.jokes-list {
  max-width: 15rem;
  background-color: var(--color-white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1rem;
}

.jokes-outlet {
  flex: 1;
  background-color: var(--color-white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1rem;
}

.jokes-footer {
  padding: 2rem;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-foreground);
  font-size: 0.9rem;
  border-top: 2px solid var(--color-border);
}

@media print, (min-width: 640px) {
  .jokes-header .logo {
      display: none;
  }

  .jokes-header .logo-medium {
      display: block;
  }

  .jokes-main {
      padding: 3.5rem 2.5rem;
  }
}

@media (max-width: 639px) {
  .jokes-main .container {
      flex-direction: column;
  }

  .jokes-header {
      padding: 0.5rem 1rem;
  }

  .jokes-header .home-link {
      font-size: 2rem;
  }
}

  