.layout {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
}

.title {
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}

.product-box,
.shopping-cart-item {
  width: 100%;
  max-width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-title,
.product-price {
  margin: 0;
}

.add-to-cart-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  width: 40px;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  align-self: flex-end;
}

.total-cost {
  margin-top: 20px;
  text-align: center;
}

.left-container {
  position: absolute;
  right: 2%;
  top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 4px 5px 1px #1b1b1b62;
  padding: 10px;
  max-width: 530px;
  width: 100%;
  margin: auto;
  background-color: #ffff;
}

.shopping-cart-container > .shopping-cart-item {
  max-width: 150px;
  max-height: 300px;
  font-size: 0.5em;
  background-color: #ffff;
  border-radius: 5px;
  padding: 5px;
}

.shopping-cart-item > div > .product-image {
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
}

.shopping-cart-container {
  max-width: fit-content;
  margin: auto;
}

.shopping-cart-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}

.remove-from-cart-button {
  background-color: #d7220e;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  width: 30px;
  font-size: 1.2em;
  text-align: center;
  position: relative;
  align-self: center;
}