.App {
  height: 100vh;
  margin: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  gap: 30px;
}

.Employee {
  width: 300px;
  height: 500px;
  text-align: center;
  background: -webkit-linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* Chrome 10+, Saf5.1+ */ 
  background: -moz-linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* FF3.6+ */ 
  background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.Avatar {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.FullName {
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
}

.TitleDepartment {
  font-size: 16px;
  font-weight: bold;
  color: #2c3e50;
}

.Email {
  font-size: 14px;
  color: #036cd6;
}

.Phone {
  font-size: 14px;
  color: rgb(47, 47, 47);
}